/*

font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;

*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --heading: "Montserrat", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
  background: #fff;
}

/* global styling */

img {
  width: 100%;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

hr {
  width: 95vw;
  margin: 0 auto;
}

/* header */

.top-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: #7ac14e;
  color: #fff;
  padding: 20px 30px;
}

.top-head .fas {
  font-size: 2rem;
  cursor: pointer;
}

/******* js related styling *****/

.times-btn {
  display: none;
}

.nav-bar {
  background: #7ac14e;
  height: 0;
  overflow: hidden;
}

.show-nav {
  height: auto;
}

/********************/

.nav-bar ul li {
  text-align: center;
  display: block;
  padding: 15px 0;
  transition: all 1s ease-in-out;
}

.nav-bar a:hover {
  text-decoration: underline;
}
.nav-bar .active {
  text-decoration: underline;
}
.nav-bar ul li a {
  color: #fff;
  text-transform: uppercase;
}

/* social -icons */

.social-icons {
  display: none;
}
/* main */

.banner {
  margin-inline: 100px;
}
.banner h2 {
  margin-top: 35px;
  color: #7ac14e;
}
.banner-main {
  display: flex;
  margin-top: 35px;
}
.banner--main--left {
  margin-right: 25px;
  width: 800px;
}

.hot-topic img {
  width: 800px;
}
.hot-topic h2 {
  color: #479ccb;
  margin-block: 10px;
}
.hot-topic h2:hover {
  color: #7ac14e;
  cursor: pointer;
}
.hot-topic h1 {
  color: #7ac14e;
}
.hot-topic h3 {
  margin-block: 15px;
}
.hot-topic p {
  margin-bottom: 10px;
}
.hot-topic .title--image {
  color: #757575;
  margin-top: 10px;
}
.hot-topic .details {
  line-height: 30px;
}

.banner--main--right h4 {
  border-bottom-style: dotted;
  border-bottom-width: 0.5px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.banner--main--right h4:hover {
  color: #479ccb;
  cursor: pointer;
}
.main--content {
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid black;
}
.main--content h4 {
  border: 0;
  padding: 0;
}
.main--content img {
  margin-right: 10px;
  width: 10%;
}
.banner--bottom .hot-topic {
  border-top: 0.5px solid black;
  padding-top: 20px;
  width: 800px;
}
.banner--bottom--detail {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
/* .banner--bottom--detail .banner--bottom--left,
.banner--bottom--right {
  width: 10px;
} */
.banner--bottom--detail .hot-topic {
  border-top: 0.5px solid black;
  padding-top: 20px;
  margin-bottom: 20px;
}
.banner--bottom--detail .hot-topic img {
  width: 300px;
}
.banner--bottom--detail h4 {
  width: 500px;
  height: 50px;
}
footer {
  display: flex;
  background-color: #cbfbae;
  justify-content: space-around;
  margin-top: 20px;
}
.footer-right {
  margin-top: 30px;
}

@media (min-width: 800px) {
  /* nav */
  .ham-btn,
  .times-btn {
    display: none !important;
  }

  .navigation-container {
    display: flex;
    background: #7ac64d;
    align-items: center;
    flex-wrap: wrap;
  }

  .top-head {
    flex: 0 0 15%;
  }

  .nav-bar {
    flex: 1 0 auto;
    height: 100%;
    background: transparent;
  }

  .nav-bar nav ul {
    display: flex;
    justify-content: center;
  }
  .nav-bar nav ul li {
    padding-right: 30px;
  }

  /* social icons */
  .social-icons {
    flex: 0 1 30%;
    display: block;
    margin: 0 auto;
  }

  .social-icons .fab {
    color: #fff;
    font-size: 2rem;
  }
  .social-icons ul {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  .social-icons ul li {
    padding: 20px;
  }

  .footer-container {
    display: flex;
  }
}
